{% extends 'index.html' %}

{% block content %}
  <div class="container  my-5">
    <h2 class="my-5">Terms and Conditions</h2>
    <p>
      This website and its content are solely for recruitment purposes. Any use of the website or its content for production or any other purpose is strictly prohibited.
    </p>
    <p>
      By accessing or using this website, you agree to comply with these terms and conditions. If you do not agree with these terms and conditions, please refrain from using the website.
    </p>
    <p>
      The website owner reserves the right to modify or terminate the website or any part of its content without prior notice.
    </p>

    <p>
      These terms and conditions are subject to change without notice. It is your responsibility to review these terms and conditions periodically.
    </p>

  </div>
{% endblock %}
