{% extends 'index.html' %}

{% block content %}

<style>
  .text-center {
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>

<div class="container justify-content-center my-5 alert alert-success">

<h2>Password reset complete</h2>
<p>Your password has been set. You may go ahead and log in now.</p>
<p> you can <a href="{% url 'login' %}">Log In </a></p>

</div>
{% endblock %}