{% extends 'index.html' %}

{% block content %}

<style>
  #id_old_password {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }

  #id_new_password1 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }

  
  #id_new_password2 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }
</style>

<nav aria-label="breadcrumb  text-center  ">
  <ol class="breadcrumb py-4 text-center justify-content-center">
    <li class="breadcrumb-item"><a href="/" class="text-dark "> <h6>Home</h6> </a></li>
    <li class="breadcrumb-item active text-dark " aria-current="page"><h6 class="d-flex ">Password Change</h6></li>
  </ol>
</nav>


  <section class="py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card shadow-lg">
            <div class="card-body p-4">
             
              <div class="tab-content">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{form.errors}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
                <div class="show active" id="login-form">
                  <h2 class="text-center mb-5">Change Password </h2>
                  <form method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="username" class="form-label">Old Password</label>
                      {{ form.old_password  }}
                  
                        <div class="text-danger py-2">
                        
                          {% if form.old_password.errors %}
                          <div class="text-danger py-2">
                            {% for error in form.old_password.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% endif %}
                       
                        </div>
                   
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password 1</label>
                      {{ form.new_password1 }}
                      {% if form.new_password1.errors %}
                        <div class="text-danger py-2">
                          {% for error in form.new_password1.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password 2</label>
                      {{ form.new_password2 }}
                      {% if form.new_password2.errors %}
                        <div class="text-danger py-2">
                          {% for error in form.new_password2.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <div class="text-center my-4">
                      <a href="{% url 'profile' %}" class="btn btn-primary">back</a>

                      <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                  </form>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
